<md-card *ngIf="event | async; let event">
  <md-card-header>
    <md-card-title>{{ event.title }}</md-card-title>
    <md-card-subtitle><md-icon>today</md-icon><span class="label">{{ event.start | date:'MMM d, y h:mm a' }} until {{ event.end | date:(endFormat | async) }}</span></md-card-subtitle>
    <md-card-subtitle><md-icon>location_on</md-icon><span class="label">{{ event.location.address }}</span></md-card-subtitle>
  </md-card-header>
  <img *ngIf="event.imageUrl" md-card-image [src]="event.imageUrl" />
  <md-card-content>
    <p *ngIf="event.type">
      This is <strong>{{ event.type.name }}</strong> event. ({{ event.type.description }})
    </p>
    <div [innerHTML]="event.description | appMarkdown"></div>
    <md-chip-list disabled>
      <md-chip *ngFor="let tag of event.tags" [mdTooltip]="tag.description" mdTooltipPosition="above" disabled>{{ tag.name }}</md-chip>
    </md-chip-list>
  </md-card-content>
</md-card>
