<h3 mdDialogTitle>{{ eventKey ? 'Edit' : 'Add' }} Event</h3>

<form [formGroup]="form" (submit)="submit()">
  <md-dialog-content>
    <md-input-container class="full-width">
      <input mdInput placeholder="Name" [formControlName]="controls.name">
      <md-error *ngIf="form.controls[controls.name].hasError('required')">
        The event name is <strong>required</strong>.
      </md-error>
    </md-input-container>

    <app-input-date-time placeholder="Start Date" timeStep="15" [formControlName]="controls.startDateTime"></app-input-date-time>

    <app-input-date-time placeholder="End Date" timeStep="15" [formControlName]="controls.endDateTime"></app-input-date-time>

    <md-input-container class="full-width">
      <input mdInput placeholder="Location" [formControlName]="controls.location">
      <md-error *ngIf="form.controls[controls.location].hasError('required')">
        The event location is <strong>required</strong>.
      </md-error>
    </md-input-container>

    <md-input-container class="full-width">
      <input mdInput placeholder="Description" [formControlName]="controls.description">
      <md-error *ngIf="form.controls[controls.description].hasError('required')">
        The event description is <strong>required</strong>.
      </md-error>
    </md-input-container>
  </md-dialog-content>
  <md-dialog-actions>
    <button md-raised-button type="submit" [disabled]="form.valid === false">{{ eventKey ? 'Save' : 'Add' }} Event</button>
    <button md-button type="button" (click)="close()">Nevermind</button>
  </md-dialog-actions>
</form>