<h3 mdDialogTitle>{{ eventKey ? 'Edit' : 'Add' }} Event</h3>

<form [formGroup]="form" (submit)="submit()">
  <md-dialog-content>
    <md-input-container class="full-width">
      <input mdInput placeholder="Name" [formControlName]="controls.name">
      <md-error *ngIf="form.controls[controls.name].hasError('required')">
        The event name is <strong>required</strong>.
      </md-error>
    </md-input-container>

    <md-input-container class="full-width">
      <input mdInput placeholder="Start Date" [formControlName]="controls.startTime" [mdDatepicker]="startTimePicker">
      <md-error *ngIf="form.controls[controls.startTime].hasError('required')">
        The event start date is <strong>required</strong>.
      </md-error>
      <button mdSuffix [mdDatepickerToggle]="startTimePicker"></button>
    </md-input-container>
    <md-datepicker #startTimePicker></md-datepicker>

    <md-input-container class="full-width">
      <input mdInput placeholder="End Date" [formControlName]="controls.endTime" [mdDatepicker]="endTimePicker">
      <md-error *ngIf="form.controls[controls.endTime].hasError('required')">
        The event end date is <strong>required</strong>.
      </md-error>
      <button mdSuffix [mdDatepickerToggle]="endTimePicker"></button>
    </md-input-container>
    <md-datepicker #endTimePicker></md-datepicker>

    <md-input-container class="full-width">
      <input mdInput placeholder="Location" [formControlName]="controls.location">
      <md-error *ngIf="form.controls[controls.location].hasError('required')">
        The event location is <strong>required</strong>.
      </md-error>
    </md-input-container>

    <md-input-container class="full-width">
      <input mdInput placeholder="Description" [formControlName]="controls.description">
      <md-error *ngIf="form.controls[controls.description].hasError('required')">
        The event description is <strong>required</strong>.
      </md-error>
    </md-input-container>
  </md-dialog-content>
  <md-dialog-actions>
    <button md-raised-button type="submit" [disabled]="form.valid === false">{{ eventKey ? 'Save' : 'Add' }} Event</button>
    <button md-button type="button" (click)="close()">Nevermind</button>
  </md-dialog-actions>
</form>