<md-toolbar>
  <span>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</span>
  <span class="flex-fill"></span>
  <md-select [(ngModel)]="view" class="bold-select">
    <md-option class="bold-option" value="month">Month View</md-option>
    <md-option class="bold-option" value="week">Week View</md-option>
    <md-option class="bold-option" value="day">Day View</md-option>
  </md-select>
  <button md-icon-button mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"><md-icon>keyboard_arrow_left</md-icon></button>
  <button md-icon-button mwlCalendarToday [(viewDate)]="viewDate"><md-icon>today</md-icon></button>
  <button md-icon-button mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"><md-icon>keyboard_arrow_right</md-icon></button>
</md-toolbar>

<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [events]="calendarEvents | async"
    [viewDate]="viewDate"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClick($event.day)"
    (eventClicked)="viewEvent($event.event.meta)">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="'week'"
    [events]="calendarEvents | async"
    [viewDate]="viewDate"
    (eventClicked)="viewEvent($event.event.meta)">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="'day'"
    [events]="calendarEvents | async"
    [viewDate]="viewDate"
    (eventClicked)="viewEvent($event.event.meta)">
  </mwl-calendar-day-view>
</div>