@import "~@angular/material/prebuilt-themes/deeppurple-amber";

$color-warn: #f44336;

body {
  margin: 0;
}

.flex-fill {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}

.warn-dialog .mat-dialog-container {
  background: 3px $color-warn solid;
}

.warn-snack-bar {
  background: $color-warn !important;
}
