@import '~@angular/material/prebuilt-themes/deeppurple-amber';
@import '~angular-calendar/dist/css/angular-calendar';
@import '~blueprint-css/src/blueprint';
@import '~blueprint-css/src/_utility';

$color-warn: #f44336;

body {
  margin: 0;
}

.flex-fill {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}

.no-margin {
  margin: 0;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.padding-top-24 {
  padding-top: 24px;
}

.padding-top-12 {
  padding-top: 12px;
}

.white-text {
  color: white;
}

.warn-text {
  color: $color-warn;
}

.warn-dialog .mat-dialog-container {
  border: 3px $color-warn solid;
}

.no-padding-dialog .mat-dialog-container {
  padding: 0;
}

.warn-snack-bar {
  background: $color-warn !important;
}

.small-select .mat-select-trigger {
  min-width: 50px;
}

.bold-select .mat-select-trigger {
  font-weight: bold;
}

.bold-option {
  font-weight: bold;
}

.cal-event-action {
  color: white;
}

.cal-event-actions .material-icons {
  font-size: 18px;
}

mwl-calendar-week-view-event .cal-event-actions .material-icons {
  font-size: 12px;
}

mwl-calendar-day-view-event .cal-event-actions .material-icons {
  font-size: 12px;
}

.cal-event-title {
  color: white;
  text-decoration: none;
}