<div class="agenda-list">
  <md-list>
    <md-list-item *ngFor="let event of events" class="event" (click)="viewEvent(event)">
      <h4 md-line>{{ event.title }}</h4>
      <p md-line class="icon-line"><md-icon>today</md-icon><span class="label">{{ event.start | date:'MMM d, y h:mm a' }} until {{ event.end | date:getEndFormat(event) }}</span></p>
      <p md-line class="icon-line"><md-icon>location_on</md-icon><span class="label">{{ event.location.address }}</span></p>
    </md-list-item>
  </md-list>
</div>